
body {
    margin: 0;
    text-align: center;
    font-family: 'Piazzolla', serif;
  }

.navbar{
    background-color: black;
    position: relative;
    width: 100%;
    margin: 0%;
    display: flex;
    align-items: center;
}

.bottom-container{
  background-color: #ffcbcb;
  padding: 50px 0 20px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}

.bottom-container a{
  color: #407088;
  text-decoration:none;
  margin: auto 10px;
}

.bottom-container a:hover{
  color: #ccc;
}

.logo{
    width: 200px;
}
.btn {
	color: #f9f9f9;
    border-color: #f9f9f9;
    margin: 10px;
}
.btn:hover {
	color: black;
    background-color: #f9f9f9;
    border-color: black;
}

.content h1{
    margin-top: 50px;
}
.content p{
    justify-content: center;
    margin: 0 20px 0 20px;
}

.register h1{
    margin-top: 10px;
}

.register .btn{
    background-color:#f9f9f9;
    border-color: black;
    color: black;
}

.register .btn:hover{
    background-color:black;
    border-color:#f9f9f9;
    color:#f9f9f9;
}

/* register design */
.form{
    padding: 25px 30px;
  }
  .form header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
  }
  .form form{
    margin: 20px 0;
  }
  .form form .error-text{
    color: #721c24;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    display: none;
  }
  .form form .name-details{
    display: flex;
  }
  .form .name-details .field:first-child{
    margin-right: 10px;
  }
  .form .name-details .field:last-child{
    margin-left: 10px;
  }
  .form form .field{
    /* display: flex; */
    margin-bottom: 10px;
    /* flex-direction: column; */
    position: relative; 
  }
  .form form .field label{
    margin-bottom: 2px;
  }
  .form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .form form .field input{
    outline: none;
  }
  .form form .image input{
    font-size: 17px;
  }
  .form form .button input{
    height: 45px;
    border: none;
    color: #fff;
    font-size: 17px;
    background: #333;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 13px;
  }
  .form form .field i{
    position: absolute;
    right: 15px;
    top: 70%;
    color: #ccc;
    cursor: pointer;
    transform: translateY(-50%);
  }
  .form form .field i.active::before{
    color: #333;
    content: "\f070";
  }
  .form .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
  }
  .form .link a{
    color: #333;
  }
  .form .link a:hover{
    text-decoration: underline;
  }